body {
  padding-bottom: 10%;
}

.content-container, .content-container-v2 {
  padding: 5% 10% 5% 10%;
}
.content-container ul li:nth-child(n+2), .content-container ol li:nth-child(n+2), .content-container-v2 ul li:nth-child(n+2), .content-container-v2 ol li:nth-child(n+2) {
  margin-top: 15px;
}
.content-container ol, .content-container-v2 ol {
  list-style-type: decimal; /* To use decimal numbers as list markers (1, 2, 3, ...) */
}
.content-container ul, .content-container-v2 ul {
  list-style-type: disc; /* To use disc bullets for unordered lists (default) */
}

footer h4 {
  position: sticky;
  text-align: center;
  margin-top: 5%;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 32px;
}

.content-container-v2 #old-profile {
  filter: drop-shadow(0px 8px 8px rgba(24, 39, 75, 0.08)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 5% auto 5% auto;
  display: block;
  width: 300px;
}
.content-container-v2 img.arrow-down {
  margin-top: 5em;
  animation: downUp 3s ease-in-out infinite;
}

@keyframes downUp {
  0%, 100% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(50px); /* Move down by 50px */
  }
}
.blue-background {
  background-color: #E6F4F6;
}

.mercular-blue-background {
  background-color: #F3FCFF;
}

body h2 {
  font-family: "Alata", sans-serif;
  font-size: 40px;
  color: #363636;
}

body h3, .content-container ul, .content-container ol,
.content-container-v2 ul, .content-container-v2 ol {
  font-size: 28px;
  color: #333333;
}

body h5 {
  font-size: 22px;
  color: gray;
}

.feature-text {
  font-size: 24px;
}

body h3, .content-container ul, .content-container ol, .feature-text,
.content-container-v2 ul, .content-container-v2 ol, .persona-button, h5 {
  font-family: "Darker Grotesque", sans-serif;
}

.header-img {
  padding-top: 5rem;
}

.header-img, #new-profile {
  width: 100%;
}

.section {
  margin-top: 10%;
}

.project-info {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  justify-content: space-between;
}
.project-info .detail {
  margin-top: 1%;
}

.two-column {
  display: grid;
  grid-template-columns: 40% 60%;
}

.grid-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.grid-logo img {
  max-width: 80%;
}

.title {
  max-width: 100%;
}

.logo-container {
  margin-top: 10%;
  margin-bottom: 10%;
  padding-right: 3em;
}
.logo-container .flex-logo {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}
.logo-container img {
  width: 80%;
}

.video-container {
  display: grid;
  align-items: center;
  grid-template-columns: 60% 40%;
  column-gap: 3em;
}
.video-container video {
  width: 100%;
  height: 100%;
}

section img {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.persona-btn-container {
  display: block;
  text-align: center;
}

.persona-button {
  text-align: center;
  border: none;
  background-color: #5fc5ff;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  color: white;
  font-size: 28px;
  border-radius: 12px;
}

.persona-button:hover {
  background-color: #56B1E5;
  transition: all 0.5s;
}

body .prototype-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
body .prototype-photos img {
  height: 30%;
  width: 30%;
}

.robot-pict-container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.robot-pict-container img {
  width: 80%;
  height: 80%;
}
.robot-pict-container .take-time-off {
  width: 60%;
  height: 60%;
}

.before-after-container {
  margin-top: 2rem;
}

.before-after-text {
  margin-bottom: 10px;
}

/* ? Breakpoint for mobile */
@media screen and (max-width: 700px) {
  .section {
    margin-top: 20%;
  }
  .two-column, .video-container {
    grid-template-columns: 1fr;
    row-gap: 0.5em;
  }
  body h2 {
    font-size: 20px;
  }
  body h3, .content-container ul, .content-container ol, .content-container-v2 ul, .content-container-v2 ol, .persona-button {
    font-size: 22px;
  }
  .feature-text {
    font-size: 16px;
  }
  .content-container, .content-container-v2 {
    padding: 10%;
  }
  .content-container-v2 #old-profile {
    width: 150px;
  }
  footer h4 {
    font-size: 22px;
  }
  body h5 {
    font-size: 16px;
  }
}

/*# sourceMappingURL=case-study.css.map */
