// bold = 700, normal = 400
$home-page-font: 'Darker Grotesque', sans-serif;

$ux-blue: #3A86FF;
$product-purple: #8338EC;
$coding-orange: #F77F00;

$ourdate-color: rgba(230, 244, 246, 0.95);
$ourdate-hovered: #B8E0E5;

$mindfulmates-color: rgba(255, 255, 255, 0.95);
$mindfulmates-hovered: #9DD4F2;

$mercular-color: rgba(242, 251, 255, 0.95);
$mercular-hovered: #BBE1F2;

$beatbuddy-color: rgba(32, 61, 88, 0.9);
$beatbuddy-hovered: #203D58;

$markthai-color: rgba(242, 227, 170, 0.95);
$markthai-hovered: #E5C445;

body {
  background-image: url('../img/background3.svg');
  background-attachment: fixed;
  background-position: -100px -50px;
  background-repeat: no-repeat;
  padding-bottom: 10%;
  min-height: 100vh;
}

.name-container > * {
  transition: all 1s;
}

footer h4 {
  position: sticky;
  text-align: center;
  margin-top: 10%;
}

h1, .h1 {
  font-size: 64px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 32px;
}
h5, p {
  font-size: 28px;
}

h1, .h1, h2, h3, h4, h5, p, a {
  margin: 0;
  font-family: $home-page-font;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}

.intro-container {
  padding-top: 10em;

  .intro {
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 2.5vmin;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  .intro-desc {
    margin-top: 2em;
  }
}

.case-studies {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // row-gap: 50px;
  row-gap: 5vw;

  .case-studies-title {
    text-align: center;
    font-size: 48px;
  }

  .card-container {
    perspective: 500px;
    transition: ease 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 15px;
    color: inherit;
    text-decoration: none;

    .ux-tag, .product-tag, .coding-tag {
      position: absolute;
      top: 2%;
      left: 1.5%;
      border-radius: 10px;
      // padding: 10px 30px 10px 30px;
      padding: 0.3em 1em 0.3em 1em;
      color: white;
      // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .ux-tag {
      background-color: $ux-blue;
    }
    .product-tag {
      background-color: $product-purple;
    }
    .coding-tag {
      background-color: $coding-orange;
    }

    .image-poster {
      border-radius: 15px 15px 0px 0px;
      // filter: brightness(95%);
      transition: ease 0.5s;
    }

    .description-container {
      backdrop-filter: blur(20px);
      padding: 20px 40px 20px 40px;
      border-radius: 0px 0px 15px 15px;
    }
    #living-description {
      background: #D4EBD9;
    }
    #ourdate-description {
      background: $ourdate-color;
    }
    #mindfulmates-description {
      background: $mindfulmates-color;
    }
    #mercular-description {
      background: $mercular-color;
    }
    #beatbuddy-description {
      background: $beatbuddy-color;
      color: white;
    }
    #markthai-description {
      background: $markthai-color;
    }

  }
}

.card-container:hover {
  cursor: pointer;
  // transform: scale3d(0.95, 0.95, 1);
  transform: scale(0.95);

  #living-description {
    background: #A5D1AE;
    transition: 0.5s;
  }
  #ourdate-description {
    background: $ourdate-hovered;
    transition: 0.5s;
  }
  #mindfulmates-description {
    background: $mindfulmates-hovered;
    transition: 0.5s;
  }
  #mercular-description {
    background: $mercular-hovered;
    transition: 0.5s;
  }
  #beatbuddy-description {
    background: $beatbuddy-hovered;
    transition: 0.5s;
  }
  #markthai-description {
    background: $markthai-hovered;
    transition: 0.5s;
  }
}

/* ? Breakpoint for mobile */
@media screen and (max-width: 700px) {
  body h1, body .h1 {
    font-size: 36px;
  }

  body h2 {
    font-size: 28px;
  }

  body h3 {
    font-size: 24px;
  }

  body h4 {
    font-size: 22px;
  }

  body h5, body p {
    font-size: 20px;
  }

  .intro-container .intro {
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 10px 40px 10px;
  }

  .case-studies .card-container {
    width: 80%;
  }

  .case-studies .case-studies-title {
    font-size: 36px;
  }

  .case-studies .card-container .description-container {
    padding: 15px 25px 15px 25px;
  }

  .case-studies .card-container {
    .ux-tag, .product-tag, .coding-tag {
      display: none;
    }

    .image-poster {
      // filter: brightness(100%);
    }
  }

  .case-studies .card-container {
    #ourdate-description {
      background: $ourdate-hovered;
    }
    #mindfulmates-description {
      background: $mindfulmates-hovered;
    }
    #mercular-description {
      background: $mercular-hovered;
    }
    #beatbuddy-description {
      background: $beatbuddy-hovered;
      color: white;
    }
    #markthai-description {
      background: $markthai-hovered;
    }
  }
}