// styles.scss contains the universal css design system for this project
// every .html files will use this

body {
  margin: 0 auto;
}

h1 {
  font-size: 64px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 32px;
}
h5, p {
  font-size: 28px;
}

h1, h2, h3, h4, h5, p, a {
  margin: 0;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}
.regular {
  font-weight: 400;
}

footer h4 {
  position: sticky;
  text-align: center;
  margin-top: 5%;
}

/* ? Breakpoint for large screen */
@media screen and (min-width: 1920px) {

}

/* ? Breakpoint for smaller desktop */
@media screen and (max-width: 1400px) {

}

/* ? Breakpoint for mobile */
@media screen and (max-width: 700px) {

}